body {
    background-color: #f8f8f8;
    font-family: Arial, sans-serif;
    text-align: center;
}

pre {
    font-size: 24px;
    color: #333;
    margin-top: 20px;
}

.invitation {
    background-color: #fff;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

